#negochat {
    display: flex;
    flex-direction: column;
    height: 548px;
    width: 581px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    background-color: #cfeef5;
}

#negochat-form {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#negochat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}

#negochat-messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    flex-grow: 1;
}

#negochat-message {
    max-width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}

#negochat-message p {
    margin: 0;
}

.sender {

    background-color: #adbfce;
    align-self: flex-end;
    border-radius: 5px;
    margin-top: 15px;
}

.negochat-message.negochat-response-message {
    background-color: #adbfce;
    border-radius:5px;
    width: 50px;
    margin-top: 15px;
}

#negochat-form button[type="submit"] {
    width: 60px; /* Largeur du bouton d'envoi */
    height: 40px; /* Hauteur du bouton d'envoi */
    margin: 0px; /* Ajoute de l'espace autour du bouton d'envoi */
    background-color: #4c95af; /* Couleur de fond du bouton d'envoi */
    color: white; /* Couleur du texte du bouton d'envoi */
    border: none; /* Supprime la bordure du bouton d'envoi */
    border-radius: 5px; /* Arrondit les coins de la bordure du bouton d'envoi */
    cursor: pointer; /* Change le curseur de la souris lorsque l'utilisateur survole le bouton d'envoi */
}

.negochat-question:hover {
    color: blue;
    cursor: pointer;
}


