#negochat {
    text-align: center;
}

#negochat-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#negochat-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}

#negochat-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#negochat-message {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    max-width: 70%;
}

#negochat-message p {
    margin: 0;
}

#negochat-message time {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}
